{{>header}}
{{>nav}}
<form action="/getAddLogic" class="container my-3">
  <div class="form-group">
    <input class="my-1 form-control" name='email' placeholder="Enter email">
  </div>
   <div class="form-group">
    <input  class="my-1 form-control" name='name' placeholder="Enter name">
  </div>
   <div class="form-group">
    <input  class="my-1 form-control" name='age'   placeholder="Enter age">
  </div>
  
  <div class="form-check form-switch">
  <input name="activeStatus" class="my-1 form-check-input" type="checkbox" role="switch"  id="flexSwitchCheckDefault" >
  <label class="form-check-label"  for="flexSwitchCheckDefault"> check if active user</label>
 </div>
  </div>

  <button type="submit" class="btn btn-primary">add user</button>
</form>
{{>footer}}