{{>header}}
{{>nav}}
<section class="container d-flex">
<img class="w-75" src="/images/13.png" alt="" srcset="">
<a class="w-25 btn btn-warning align-self-center"  href="/"> return home</a>
</section>
{{>footer}}